################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week 4 CW
/OOP Assignment
/.vs/ITP-236/FileContentIndex/09a1670e-e74f-4788-8908-bd027f62bfd1.vsidx
/.vs/ITP-236/FileContentIndex
